<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lunatic.notebookcompare">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NotebookPage">
            <intent-filter>
                <action android:name="com.example.lunatic.notebookcompare.NotebookPage" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".NotebookDetail" />
        <activity android:name=".APPLE_MacBook_Air11_256GB" />
        <activity android:name=".APPLE_MacBook_Pro13_256GB" />
        <activity android:name=".APPLE_MacBook_Air13_256GB" />
        <activity android:name=".APPLE_MacBook_Pro13_512GB" />
        <activity android:name=".ACER_ASPIRE_V3_575G" />
        <activity android:name=".ACER_Aspire_E5_574G" />
        <activity android:name=".ACER_Aspire_E5_573G" />
        <activity android:name=".Asus_VM590UB" />
        <activity android:name=".ASUS_ZENBOOK_UX305UA" />
        <activity android:name=".ASUS_A550VX" />
        <activity android:name=".DELL_Inspiron_N7359" />
        <activity android:name=".DELL_Inspiron_N5459" />
        <activity android:name=".DELL_Inspiron_5559" />
        <activity android:name=".DELL_Vostro_V5459" />
        <activity android:name=".HP_Pavilion_Gaming_15" />
        <activity android:name=".HP_Pavilion_Star_Wars_15" />
        <activity android:name=".HP_Pavilion_Touchsmart_14" />
        <activity android:name=".MSI_CX62_6QD" />
        <activity android:name=".MSI_GP72_6QE" />
        <activity android:name=".MSI_GL62_6QD" />
        <activity android:name=".LENOVO_ThinkPad_Edge_E460" />
        <activity android:name=".LENOVO_IdeaPad_Y700" />
        <activity android:name=".LENOVO_IdeaPad_700" />
        <activity android:name=".LENOVO_ThinkPad_X260" />
        <activity android:name=".Search"></activity>
    </application>

</manifest>