<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lunatic.notebookcompare">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NotebookPage">
            <intent-filter>
                <action android:name="com.example.lunatic.notebookcompare.NotebookPage" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".NotebookDetail" />
        <activity android:name=".APPLE_MacBook_Air11_256GB" />
        <activity android:name=".APPLE_MacBook_Pro13_256GB" />
        <activity android:name=".APPLE_MacBook_Air13_256GB"></activity>
    </application>

</manifest>